/*# "relbarbgcolor": "#555",*/
/*# "bgcolor": "#555",*/
/*# "sidebarbgcolor": "#333",*/
/*# "sidebarlinkcolor": "#0dd",*/
/*# "sidebartextcolor": "#ddd",*/
/*# "linkcolor": "#bbb",*/
/*# "textcolor": "#ddd",*/
/*# "footerbgcolor":"#333",*/
/*# "headbgcolor":"#555",*/
/*# "headtextcolor":"#0dd"*/

h1, h2 {
    color:#0dd;
}

.highlight {
    background-color: #888;
}

.code {
    background-color: #888;
}